{{ 'navigation.css' | asset_url | stylesheet_tag }}

<div class="relative navigation-container">
  <div>
    <div class="flex justify-between items-center">

      {% if data.shop_name != blank %}
        <p class="navigation-logo">{{ data.shop_name }}</p>
      {% else %}
        <p class="navigation-logo">SHOP NAME</p>
      {% endif %}

      <nav class="flex justify-between items-center lg-link">

        {% for link in linklists.main-menu.links %}
          <div class="mx-5 text-blue hover:text-black">
            <a href="{{link.url}}">{{ link.title }}</a>
          </div>
        {% endfor %}
      </nav>

      <div class="flex justify-between  items-center">
        <div class="mx-5 text-blue hover:text-black cart-icon-container">
          <a href="{{routes.cart_url}}">
            {% render 'icon-cart' %}
          </a>
          <div data-ajax-cart-bind-state="cart.item_count" class="cart-count-container">
            {% if cart.item_count > 0 %}

              <span>{{ cart.item_count }}</span>

            {% endif %}
          </div>

        </div>
        <div class="menu-icon" id="open-menu">
          {% render 'icon-unfold-menu' %}
        </div>
      </div>
    </div>
  </div>
</div>