<div class="relative flex justify-between items-start overflow-hidden banner-container">

  <div class="hero-banner-content">

    <div class="hero-banner-header">
      {% if section.settings.header_text != blank %}
        <p>{{ section.settings.header_text }}</p>
      {% else %}
        <p>SHOP NAME HERE</p>
      {% endif %}
    </div>

    <div class="hero-banner-sub-header">
      {% if section.settings.sub_header != blank %}
        <p>{{ section.settings.sub_header }}</p>
      {% else %}
        <p>SHOP NAME DESCRIPION HERE</p>
      {% endif %}
    </div>

    <a href="/collections/all" class="hero-banner-button rounded text-center text-white">
      Collect Now!
    </a>
  </div>


  <div class="hero-banner-image-container">
    {% if section.settings.hero_image != blank %}
      <img
        loading="lazy"
        src="{{section.settings.hero_image | img_url: '700x800'}}"
        alt="hero" />
    {% else %}
      {{ 'product-1' | placeholder_svg_tag }}
    {% endif %}
  </div>



</div>

{% if section.settings.announcement != blank %}
  <div class="hero-banner-announcement">
    <marquee>{{ section.settings.announcement }}</marquee>
  </div>
{% endif %}



{% schema %}
  {
    "name": "Hero Banner",
    "presets": [
      {
        "name": "⚡Hero Banner"
      }
    ],
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Image"
      }, {
        "type": "text",
        "id": "header_text",
        "label": "Header Text"
      }, {
        "type": "text",
        "id": "sub_header",
        "label": "Sub Header"
      }, {
        "type": "text",
        "id": "announcement",
        "label": "Announcement"
      }
    ]
  }
{% endschema %}